:host {
    width: 100%;
    .form-wrapper {
        display: flex;
        margin: 16px;
        .form-content {
            width: 100%;
            fieldset {
                padding: 15px;
                border: 1px solid black;
            }
            .submit-container {
                display: flex;
                justify-content: center;
                margin: 10px;
            }
        }
        
    }
}